html {
  height: 100%;
}

.body_index {
  background-image: url("../images/background.jpg");
  background-size: cover;
  box-sizing: border-box;
  background-attachment: fixed;
}

.body.popup_active {
  height: 100vh;
  overflow-y: hidden;
}

.header {
 background-color: transparent;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup.popup_active {
  display: flex;
}

.popup_wrapper {
  background-color: #333839;
  width: 80vw;
  height: 80vh;
  margin: auto;
  padding: 2rem;
  border-radius: 0.5rem;
}

.popup_text {
  color: #bababa;
  text-align: justify;
  width: 100%;
  height: 100%;
}

.main_index {
  display: flex;
  height: 100%;
  width: 100%;
}

.main_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 43%;
}

.description_title {
  color: #FFFFFF;
  font-size: 3rem;
  width: fit-content;
  margin-bottom: 2rem;
}

.description_title::after {
  content: "";
  display: block;
  width: 50%;
  padding-top: 0.8rem;
  border-bottom: 0.1rem solid #FF005E;
}

.description_text {
  text-align: justify;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

.description_text::first-letter {
  margin-left: 1rem;
}

.description_button {
  padding: 1rem 3rem;
  color: #121212;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  background-color: #FF005E;
  cursor: pointer;
  transition: 0.4s;
}

.description_button:hover {
  background-color: #D90050;
}

.main_picture {
  width: 50%;
}

@media screen and (max-width: 1100px) {
  .main_wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .description {
    width: 100%;
  }

  .description_button {
    display: block;
    margin: 2.5rem auto;
  }

  .main_picture {
    width: 50%;
  }

  .popup_text {
    overflow-y: scroll;
    /* background-color: blueviolet; */
    margin-bottom: 2rem;
  }

}

@media screen and (max-width: 550px) {
  .main_picture {
    width: 100%;
  }
}