* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
html {
  font-size: 18px;
}

.body {
  margin: 0;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

.header {
  width: 100%;
}

.header.nav_opened .header_menu {
  background-color: #333839;
  transition: 0.4s;
}

.header.nav_opened .nav {
  height: auto;
  background-color: #333839;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  transition: 0.4s;
}

.header.nav_opened .header_menu_line:nth-child(1) {
  transform: rotate(45deg) translate(5px,7px);
}

.header.nav_opened .header_menu_line:nth-child(2) {
  transform: translateX(-100%);
  opacity: 0;
}

.header.nav_opened .header_menu_line:nth-child(3) {
  transform: rotate(-45deg) translate(5px,-7px);
}


.header_wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.header_title {
  padding: 0.2rem 0.2rem;
}

.header_title::before, .header_title::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid ;
  border-top: transparent;
  border-left: transparent;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.4s;
}

.header_title::before {
  top: 0;
  left: 0;
  transform: rotate(180deg);
  color: #FF005E;
}

.header_title::after{
  bottom: 0;
  right: 0;
  color: #FFFFFF;
}

.header_logo:hover .header_title::before, .header_logo:hover .header_title::after {
  opacity: 1;
}

.header_logo_icon {
  width: 4rem;
  height: 5rem;
  margin-right: 1rem;
}

.header_title {
  font-size: 2.3rem;
  color: #FFFFFF;
  position: relative;
}

.header_subtitle {
  background: transparent;
  color: #FF005E;
}

.header_button {
  height: 1.5rem;
  width: 1.6rem;
  background: transparent;
  border: none;
  outline: none;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.header_menu {
  display: none;
  padding: 1rem;
  margin-top: 2.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  /* background-color: #333839; */
  height: 100%;
}

.header_menu_line {
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 3px;
  transition: .3s;
}

.header.active .nav {
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 40%;
  align-items: center;
  color: #FFFFFF;
}

.nav_link {
  text-decoration: none;
  color: #FFFFFF;
  padding: 0.4rem 0.4rem;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
}

.nav_link::before, .nav_link::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #FF005E;
  border-top: transparent;
  border-left: transparent;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.4s;
}

.nav_link::before {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

.nav_link::after{
  bottom: 0;
  right: 0;
}

.nav_link:hover::before, .nav_link:hover::after {
  display: block;
  opacity: 1;
}

.nav_link:hover {
  color: #FF005E;
}

@media screen and (max-width: 1450px) {
  .wrapper {
    max-width: 90vw;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 14px;
  }

  .header {
    margin-bottom: 3rem;
  }

  .header_wrapper {
    position: relative;
  }

  .header_menu {
    display: flex;
  }

  .nav {
    height: 0%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
  }

  .nav_link {
    padding: 0.7rem 0rem;
    /* background-color: aqua; */
    display: block;
    width: 100%;
    text-align: center;
  }

  .nav_link:first-child {
    padding-top: 1.4rem;
  }

  .nav_link:last-child {
    padding-bottom: 1.4rem;
  }
}

